workflow-backups/LM/AutoSleep_Manual_Export_Parser.json
{"versionid":"0a45e161-b66e-44b2-a6a9-0646667c2956","workflowid":"eQjPC1Kb9rc54IvF","createdat":"2026-04-15T06:12:44.876Z","updatedat":"2026-04-15T06:12:44.876Z","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":20,"unit":"minutes"}]},"filters":{"q":"has: attachment subject: sleep"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-320,96],"id":"a7710c73-2720-41f5-9e4f-6704df1b9739","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"JEgwhifGXY9mbaDX","name":"Gmail - lukemoffat@gmail.com"}},"disabled":true},{"parameters":{"operation":"getAll","limit":1,"filters":{"q":"has:attachment subject:sleep -label:Processed","receivedAfter":"={{ new Date(new Date().setHours(0,0,0,0)).toISOString() }}","sender":"lukemoffat@gmail.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-368,-304],"id":"d5b27ed7-3c7d-4053-9593-3aaa6d737ed7","name":"Get many messages","webhookId":"54143305-0054-4e59-86dd-96dec301728a","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"JEgwhifGXY9mbaDX","name":"Gmail - lukemoffat@gmail.com"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-576,-304],"id":"5394959d-0034-4a33-a4e5-622fa228621a","name":"20-minutely"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-160,-304],"id":"066e1b26-8451-4ae9-8b83-2b629df7a6b3","name":"Get a message","webhookId":"f332cf7c-51d6-4455-8df6-430d64e6071b","credentials":{"gmailOAuth2":{"id":"JEgwhifGXY9mbaDX","name":"Gmail - lukemoffat@gmail.com"}}},{"parameters":{"binaryPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[48,-304],"id":"2b913132-d8cc-422f-8417-c04819f11119","name":"Extract from File"},{"parameters":{"jsCode":"const rows = $input.all();\n\nreturn rows.map(item => {\n  const entry = item.json;\n  return {\n    json: {\n      metric_name: 'autosleep_session',\n      recorded_at: entry.ISO8601,\n      source:      'AutoSleep-CSV',\n      raw:         JSON.stringify(entry),\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-304],"id":"ba84288e-fb21-4eb7-bc58-7299130416dc","name":"parseData"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO personal.apple_health_raw (\n    metric_name,\n    recorded_at,\n    source,\n    raw\n)\nVALUES (\n    'autosleep_session',\n    '{{ $json.recorded_at }}'::timestamptz,\n    'AutoSleep-CSV',\n    '{{ $json.raw }}'::jsonb\n)\nON CONFLICT (metric_name, recorded_at, source) DO UPDATE SET\n    raw       = EXCLUDED.raw,\n    synced_at = now();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-304],"id":"288e683c-f537-4277-a9a5-c28578d54a21","name":"InsertData","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Get many messages').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-304],"id":"28d9a86d-4c0c-4913-9257-f5f5291a81ba","name":"Mark a message as read","webhookId":"eada5199-8dc3-47c9-8f59-e186372375f2","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"JEgwhifGXY9mbaDX","name":"Gmail - lukemoffat@gmail.com"}}},{"parameters":{"operation":"addLabels","labelIds":["Label_6821036558797642102"]},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[880,-304],"id":"f41369ef-20eb-496d-ac8a-db8759a3c6e2","name":"Add label to message","webhookId":"45ca08b7-a247-48fa-a18a-5337d8a68e6e","credentials":{"gmailOAuth2":{"id":"JEgwhifGXY9mbaDX","name":"Gmail - lukemoffat@gmail.com"}}}],"connections":{"Gmail Trigger":{"main":[[]]},"20-minutely":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"parseData":{"main":[[{"node":"InsertData","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"parseData","type":"main","index":0}]]},"InsertData":{"main":[[{"node":"Mark a message as read","type":"main","index":0}]]},"Mark a message as read":{"main":[[{"node":"Add label to message","type":"main","index":0}]]}},"workflow_name":"AutoSleep Manual Export Parser"}