workflow-backups/LM/Fetch_Intervals_Data.json
{"versionid":"2ad19a84-d2f2-43c7-a662-4fe352f3659b","workflowid":"epAt4o4E81ZwXulC","createdat":"2026-03-14T12:29:55.763Z","updatedat":"2026-03-14T12:31:37.198Z","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"174422fc-9eca-49be-9c50-6af98b26d01f","name":"3am"},{"parameters":{"url":"=https://intervals.icu/api/v1/athlete/i343146/wellness?oldest={{ DateTime.now().minus({days: 1}).toFormat('yyyy-MM-dd') }}&newest={{ DateTime.now().minus({days: 1}).toFormat('yyyy-MM-dd') }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"0c50087d-f89d-47f3-aa53-b5454eb5a3ec","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"ZQ6rgDBY3DZwgyNx","name":"Intervals API Auth"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => ({\n  json: {\n    domain: 'wellness',\n    metric_date: item.json.id,\n    source: 'intervals_icu',\n    metrics: {\n      sleep_secs: item.json.sleepSecs,\n      sleep_score: item.json.sleepScore,\n      sleep_quality: item.json.sleepQuality,\n      deep_sleep_secs: item.json.DeepSleep,\n      light_sleep_secs: item.json.LightSleep,\n      rem_sleep_secs: item.json.REMSleep,\n      avg_sleeping_hr: item.json.avgSleepingHR,\n      resting_hr: item.json.restingHR,\n      hrv: item.json.hrv,\n      hrv_sdnn: item.json.hrvSDNN,\n      spo2: item.json.spO2,\n      readiness: item.json.readiness,\n      respiration: item.json.respiration,\n      vo2max: item.json.vo2max,\n      steps: item.json.steps,\n      ctl: item.json.ctl,\n      atl: item.json.atl,\n      ramp_rate: item.json.rampRate,\n      weight: item.json.weight,\n      soreness: item.json.soreness,\n      fatigue: item.json.fatigue,\n      stress: item.json.stress,\n      mood: item.json.mood,\n      motivation: item.json.motivation,\n      sport_info: item.json.sportInfo\n    },\n    raw_json: item.json\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"0c3fa082-2c56-4e95-a31a-651ccd346a5e","name":"prepData"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO personal.metrics (domain, metric_date, source, metrics, raw_json)\nVALUES (\n  '{{ $json.domain }}',\n  '{{ $json.metric_date }}',\n  '{{ $json.source }}',\n  '{{ JSON.stringify($json.metrics) }}',\n  '{{ JSON.stringify($json.raw_json) }}'\n)\nON CONFLICT (domain, metric_date, source) DO UPDATE SET\n  metrics = EXCLUDED.metrics,\n  raw_json = EXCLUDED.raw_json;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,0],"id":"9b8d6f1c-abac-4359-9824-9867d1cbc286","name":"Upsert to Metrics","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}},{"parameters":{"url":"=https://intervals.icu/api/v1/athlete/i343146/wellness?oldest={{ $json.start }}&newest={{ $json.end }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-192],"id":"65be0f75-550f-4852-920e-e4a9a13d5cdb","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"ZQ6rgDBY3DZwgyNx","name":"Intervals API Auth"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"start\": \"2013-01-01\",\n  \"end\": \"2026-03-14\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-192],"id":"49ff93c6-34d1-490c-a3c4-9bacf0c9ddc1","name":"dateRange"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,-192],"id":"88a7dd6a-3578-4d76-a1fd-f3cfa005717d","name":"Manual Trigger"}],"connections":{"3am":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"prepData","type":"main","index":0}]]},"prepData":{"main":[[{"node":"Upsert to Metrics","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"prepData","type":"main","index":0}]]},"dateRange":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"dateRange","type":"main","index":0}]]}},"workflow_name":"Fetch Intervals Data"}