workflow-backups/LM/Home_PG_Backup_to_S3.json
{"versionid":"a7b3a398-87f3-42c7-a9d1-04c60fc34273","workflowid":"NTnrkTU91njs5lHP","createdat":"2026-04-04T10:37:58.608Z","updatedat":"2026-04-04T10:38:02.511Z","nodes":[{"parameters":{"operation":"upload","bucketName":"moff","fileName":"={{ $('freshnessCheck').item.json.s3Key }}","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-144,208],"id":"bfa2a874-b1db-4322-bd6e-541466d88e7c","name":"Upload a file","credentials":{"aws":{"id":"jv0Mj63IvAfbzni4","name":"AWS (IAM) account"}}},{"parameters":{"fileSelector":"/backups/postgres.dump.gz","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-352,208],"id":"9c78da6a-9835-40b3-8b54-3769e9bb1c35","name":"Read/Write Files from Disk"},{"parameters":{"fileSelector":"/backups/last_backup_timestamp","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-352,0],"id":"12cf58d0-ff67-4b07-9207-0f9f52587d9d","name":"Read/Write Files from Disk1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-144,0],"id":"70cd77f4-56e4-4353-a5ac-0be2a14e8eaa","name":"Extract from File"},{"parameters":{"jsCode":"const timestamp = parseInt($input.first().json.data.trim());\nconst ageSeconds = (Date.now() / 1000) - timestamp;\n\nif (ageSeconds > 86400) {\n  throw new Error(`Backup stale — last modified ${Math.round(ageSeconds / 3600)}h ago`);\n}\n\nconst backupDate = new Date(timestamp * 1000).toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    timestamp,\n    backupDate,\n    s3Key: `home-postgres-backups/postgres-${backupDate}.dump.gz`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,0],"id":"7195e70f-9dad-4b0d-bcd0-0f7909f3ba1b","name":"freshnessCheck"},{"parameters":{"schema":{"__rl":true,"value":"personal","mode":"list","cachedResultName":"personal"},"table":{"__rl":true,"value":"s3_backup_log","mode":"list","cachedResultName":"s3_backup_log"},"columns":{"mappingMode":"defineBelow","value":{"backup_date":"={{ $('freshnessCheck').item.json.backupDate }}","filename":"={{ $('Read/Write Files from Disk').item.json.fileName }}","uploaded_at":"={{$now}}","file_size":"={{ $('Read/Write Files from Disk').item.json.fileSize }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"filename","displayName":"filename","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"backup_date","displayName":"backup_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"uploaded_at","displayName":"uploaded_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"file_size","displayName":"file_size","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,208],"id":"630828e6-7612-4dee-95f8-a61698d828d5","name":"Insert rows in a table","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}},{"parameters":{"content":"## Version Control\n2026-04-04 21:07 LM - initial creation\n2026-04-04 21:07 LM - updated schedule to 3am daily","height":192,"width":844,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,496],"id":"c5c0f920-1e1e-4b91-bd52-3fd9a97e2505","name":"Sticky Note3"},{"parameters":{"content":"# Home PG Backup to S3","height":80,"width":836,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,400],"id":"19d3abed-6a35-4c76-86f8-77d68e35befc","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,0],"id":"f123f261-f93d-4060-8830-773760e118db","name":"3am Daily"}],"connections":{"Read/Write Files from Disk":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"freshnessCheck","type":"main","index":0}]]},"freshnessCheck":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"3am Daily":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]}},"workflow_name":"Home PG Backup to S3"}