workflow-backups/LM/Home_PG_Backup_to_S3.json
{
  "versionid": "049df00c-d6fe-4001-8eb0-9407e009c34c",
  "workflowid": "NTnrkTU91njs5lHP",
  "createdat": "2026-04-04T10:11:24.850Z",
  "updatedat": "2026-04-04T10:11:24.850Z",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        0
      ],
      "id": "f123f261-f93d-4060-8830-773760e118db",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "moff",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "bfa2a874-b1db-4322-bd6e-541466d88e7c",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "jv0Mj63IvAfbzni4",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/backups/last_backup_timestamp",
        "options": {
          "fileName": "N8N_RESTRICT_FILE_ACCESS_TO=/home/node/.n8n,/backups"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        0
      ],
      "id": "9c78da6a-9835-40b3-8b54-3769e9bb1c35",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const timestamp = parseInt($input.first().binary.data.toString().trim());\nconst ageSeconds = (Date.now() / 1000) - timestamp;\n\nif (ageSeconds > 86400) {\n  throw new Error(`Backup stale — last modified ${Math.round(ageSeconds / 3600)}h ago`);\n}\n\nreturn [{\n  json: {\n    s3Key: `home-postgres-backups/postgres-${new Date().toISOString().split('T')[0]}.dump.gz`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "7195e70f-9dad-4b0d-bcd0-0f7909f3ba1b",
      "name": "reviewBackup"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "reviewBackup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_name": "Home PG Backup to S3"
}