workflow-backups/LM/MCP_brain.read.json
{"versionid":"ec4a857b-6a36-405b-8ee9-c5dca564084a","workflowid":"FFRsjeSGc4tYuiMG","createdat":"2026-03-28T08:02:01.660Z","updatedat":"2026-03-28T08:02:05.626Z","nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT key, value, source, created_at \nFROM personal.facts \nWHERE domain = 'ai_context' \nAND category = 'tools' \nAND key = 'memory_store';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,-304],"id":"d07a987b-85ac-458f-8057-05c3399ed890","name":"Execute a SQL query","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-112,-48],"id":"4b685317-299f-4d2c-9542-c0cb2e320359","name":"When chat message received","webhookId":"f868866f-e0a6-4c59-98b8-3e3e25daa50a"},{"parameters":{"jsCode":"const input = $input.first().json;\nlet params = {};\ntry {\n  params = typeof input.chatInput === 'string' \n    ? JSON.parse(input.chatInput) \n    : input.chatInput;\n} catch (e) { params = {}; }\n\nreturn [{\n  json: {\n    domain: params.domain || null,\n    category: params.category || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-48],"id":"af5e7a1e-e918-4950-94f0-b413be50eb9d","name":"parseInput"},{"parameters":{"content":"## Version Control\n2026-03-22 12:20 LM - init\n2026-03-28 18:31 LM - updated new credentials","height":480,"width":844,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,224],"id":"4220d508-5dfa-437b-98a9-6a99ee6fee04","name":"Sticky Note3"},{"parameters":{"content":"# brain.read","height":80,"width":836,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,128],"id":"17d3eaa4-f360-48bf-95d2-66d113b986cf","name":"Sticky Note"},{"parameters":{"operation":"executeQuery","query":"SELECT domain, category, key, value\nFROM personal.facts\nWHERE valid_to IS NULL\n  AND ($1::text IS NULL OR domain = $1)\n  AND ($2::text IS NULL OR category = $2)\nORDER BY domain, category, key;","options":{"queryReplacement":"={{ [$json.domain, $json.category] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,-48],"id":"fdb30645-e505-4c15-81b1-5e9cd84d7869","name":"brain.read","credentials":{"postgres":{"id":"usCxrheE0UWhJWs5","name":"Postgres - homeserver - claude_desktop"}}}],"connections":{"When chat message received":{"main":[[{"node":"parseInput","type":"main","index":0}]]},"parseInput":{"main":[[{"node":"brain.read","type":"main","index":0}]]}},"workflow_name":"MCP brain.read"}