workflow-backups/LM/Notion_Task_Responder_-_New_Tasks.json
{"versionid":"2ff46a7b-d741-490e-912b-6f6f761f0f70","workflowid":"JChvIHEsKVDHrOC0","createdat":"2025-12-28T06:48:29.992Z","updatedat":"2025-12-28T06:48:29.992Z","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-192,176],"id":"2fd907b1-dd9b-4e10-bb38-1cabe091c94f","name":"When clicking ‘Execute workflow’"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[896,96],"id":"f84af18b-24d6-4049-a634-0a2f01b6605b","name":"Respond to Webhook"},{"parameters":{"content":"## Version Control\n2025-12-21 11:40 LM - init\n2025-12-21 16:47 LM - updated to only return where ReminderID is null\n2025-12-22 20:37 LM - added nothing branch","height":192,"width":700,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,432],"id":"924d076f-18d6-4d5a-aadc-c5c8ede055ad","name":"Sticky Note3"},{"parameters":{"content":"# Notion Task Responder","height":80,"width":692,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,336],"id":"5e15842d-d389-4e08-b8bc-b520abbc4821","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,96],"id":"8d9bf2a7-b138-44b3-9a2f-04a6029345a5","name":"Router"},{"parameters":{"path":"d8e8f0a2-0faf-4b9b-8bca-d75234efe459","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,-16],"id":"052d5122-76c6-407a-8e48-07da177ff21d","name":"GET","webhookId":"d8e8f0a2-0faf-4b9b-8bca-d75234efe459","credentials":{"httpHeaderAuth":{"id":"k9lQZ1gYvf8WoBEb","name":"Header Auth - Task Webhook"}}},{"parameters":{"resource":"database","databaseId":{"__rl":true,"value":"28629734-f237-8011-9296-db67c90f5f75","mode":"list","cachedResultName":"GTD Tasks","cachedResultUrl":"https://www.notion.so/28629734f23780119296db67c90f5f75"},"simple":false},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[64,-192],"id":"d1d38cd7-fe0f-4174-8e2d-52fcf03c618d","name":"GetDatabaseProps","credentials":{"notionApi":{"id":"bJEiPdmKyoxumxIL","name":"Notion - Moff-SDL-Private"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"28629734-f237-8011-9296-db67c90f5f75","mode":"list","cachedResultName":"Moff Tasks","cachedResultUrl":"https://www.notion.so/28629734f23780119296db67c90f5f75"},"limit":100,"filterType":"json","filterJson":"={\n  \"and\": [\n    {\n      \"or\": [\n        {\n          \"property\": \"Status\",\n          \"status\": {\n            \"equals\": \"Next Action\"\n          }\n        },\n        {\n          \"property\": \"Status\",\n          \"status\": {\n            \"equals\": \"Today\"\n          }\n        }\n      ]\n    },\n    {\n      \"property\": \"Type\",\n      \"select\": {\n        \"does_not_equal\": \"Reference\"\n      }\n    },\n    {\n      \"property\": \"Completed\",\n      \"checkbox\": {\n        \"equals\": true\n      }\n    },\n    {\n      \"timestamp\": \"last_edited_time\",\n      \"last_edited_time\": {\n        \"after\": \"{{$now.minus(60, 'minutes').toISO()}}\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[192,96],"id":"89df64ba-04b8-449c-8e78-d46a612adc04","name":"Get Next Action Tasks","alwaysOutputData":true,"credentials":{"notionApi":{"id":"bJEiPdmKyoxumxIL","name":"Notion - Moff-SDL-Private"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e521197a-2c87-4804-ae7a-bbf252a1f452","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,96],"id":"b4c82827-b4d1-41e6-b0e2-44e82f37f9b1","name":"IfNothing"},{"parameters":{"jsCode":"const tasks = [];\n\nreturn [{ json: { tasks } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0],"id":"7b974915-60f7-4ae7-a083-6545ee168123","name":"nothing"},{"parameters":{"jsCode":"const tasks = $input.all().map(item => ({\n  id: item.json.id,\n  title: item.json.name,\n  notes: item.json.property_notes || \"\",\n  dueDate: item.json.property_due_date?.start || null,\n  completed: item.json.property_completed || false,\n  reminderID: item.json.property_reminder_id || \"\"\n}));\n\nreturn [{ json: { tasks } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,176],"id":"e53e6c96-3a77-42cb-a336-84c4e4fb51fb","name":"something"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Router","type":"main","index":0}]]},"Router":{"main":[[{"node":"Get Next Action Tasks","type":"main","index":0}]]},"GET":{"main":[[{"node":"Router","type":"main","index":0}]]},"Get Next Action Tasks":{"main":[[{"node":"IfNothing","type":"main","index":0}]]},"IfNothing":{"main":[[{"node":"nothing","type":"main","index":0}],[{"node":"something","type":"main","index":0}]]},"something":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"nothing":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"workflow_name":"Notion Task Responder - New Tasks"}