workflow-backups/LM/Notion_Task_Responder_-_New_Tasks.json
{
  "versionid": "023933ea-38c3-4346-af5e-1220ae1949ab",
  "workflowid": "HN5jmqI5jixCfaXm",
  "createdat": "2025-12-29T01:56:34.164Z",
  "updatedat": "2025-12-29T01:56:34.164Z",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const tasks = $input.all().map(item => ({\n  id: item.json.id,\n  title: item.json.name,\n  notes: item.json.property_notes || \"\",\n  dueDate: item.json.property_due_date?.start || null,\n  completed: item.json.property_completed || false,\n  reminderID: item.json.property_reminder_id || \"\"\n}));\n\nreturn [{ json: { tasks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        96
      ],
      "id": "21a2c4c1-6724-4510-b048-b415b6fc1207",
      "name": "parse"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        176
      ],
      "id": "eb1dde7a-880b-4964-b890-6bf24bc32396",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        96
      ],
      "id": "a43ab6bb-5cfb-46f5-b4c3-71656fbdc1d9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Version Control\n2025-12-21 11:40 LM - init\n2025-12-21 16:47 LM - updated to only return where ReminderID is null\n2025-12-29 12:26 LM - updated scope for fetching tasks to include 'Today'",
        "height": 192,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        384
      ],
      "id": "8b83861f-6891-4165-b3f5-b4dd202d2991",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Notion Task Responder",
        "height": 80,
        "width": 692,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        288
      ],
      "id": "76c8b3f7-2966-4300-84d1-3ab95482c527",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "307042d5-4a86-4baa-b15c-3b0e2f56c05a",
      "name": "Router"
    },
    {
      "parameters": {
        "path": "287a8aee-4059-418e-8cd3-e30ef98f11b1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -16
      ],
      "id": "4748fe5d-bb54-447a-9cf6-03c8875f8c62",
      "name": "GET",
      "webhookId": "287a8aee-4059-418e-8cd3-e30ef98f11b1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k9lQZ1gYvf8WoBEb",
          "name": "Header Auth - Task Webhook"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "GTD Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        64,
        -192
      ],
      "id": "4cb6abfb-2a58-49be-957e-b9c6c319dfbc",
      "name": "GetDatabaseProps",
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "Moff Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "limit": 100,
        "filterType": "json",
        "filterJson": "={\n  \"and\": [\n    {\n      \"or\": [\n        {\n          \"property\": \"Status\",\n          \"status\": {\n            \"equals\": \"Next Action\"\n          }\n        },\n        {\n          \"property\": \"Status\",\n          \"status\": {\n            \"equals\": \"Today\"\n          }\n        },\n        {\n          \"property\": \"Status\",\n          \"status\": {\n            \"equals\": \"Inbox\"\n          }\n        }\n      ]\n    },\n    {\n      \"property\": \"Completed\",\n      \"checkbox\": {\n        \"equals\": false\n      }\n    },\n    {\n      \"property\": \"Type\",\n      \"select\": {\n        \"does_not_equal\": \"Reference\"\n      }\n    },\n    {\n      \"property\": \"ReminderID\",\n      \"rich_text\": {\n        \"is_empty\": true\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        192,
        96
      ],
      "id": "6209f46b-a01d-4ecf-be05-e3dae675a3c4",
      "name": "Get Tasks - Today, Next Action or Inbox",
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Get Tasks - Today, Next Action or Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks - Today, Next Action or Inbox": {
      "main": [
        [
          {
            "node": "parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_name": "Notion Task Responder - New Tasks"
}