workflow-backups/LM/Notion_Task_Creator_-_Work.json
{"versionid":"08982a9a-8785-4074-91a4-545b8e704d1a","workflowid":"2kO0ABPedPRM0HWU","createdat":"2025-10-19T06:48:34.839Z","updatedat":"2025-10-21T08:18:36.637Z","nodes":[{"parameters":{"httpMethod":"POST","path":"118c7ef1-358a-4a1b-8531-8beb5f969835","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-496,-144],"id":"be48835b-6cfc-4134-8ffd-41ee3de6cbab","name":"Webhook","webhookId":"118c7ef1-358a-4a1b-8531-8beb5f969835","credentials":{"httpHeaderAuth":{"id":"k9lQZ1gYvf8WoBEb","name":"Header Auth - Task Webhook"}}},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/pages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-144],"id":"d01b2c47-de33-42b3-a8da-31a7704a45e1","name":"POST to Notion","credentials":{"httpHeaderAuth":{"id":"AoLRfV3kJAAxUfXj","name":"Notion - Header Auth"}}},{"parameters":{"content":"## Version Control\n2025-10-19 17:34 LM - initial setup (cloned from personal) and proof of working code\n2025-10-19 18:16 LM - updated for `Ready for Development` status\n2025-10-19 18:16 LM - updated response to use correct task response","height":480,"width":940,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,96],"id":"ab8e27a4-bd3c-4a22-a595-a0c9399a6111","name":"Sticky Note3"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"message\": \"✅ Task added to Inbox: {{ $('Personal Task Agent').item.json.message.content[\"Task name\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[864,-144],"id":"d2b62138-c1b4-43f8-a99e-3d783672839f","name":"Respond to Webhook"},{"parameters":{"jsCode":"// ========== CONFIG ==========\nconst AUTO_SET_CREATED_DATE = true; // Auto-set CreatedDate to today\n// ============================\n\nconst taskData = $input.first().json.message.content; \nconst propertySchema = $('parseProps').first().json.propertySchema;\nconst databaseId = $('GetDatabaseProps').first().json.id;\n\nfunction formatProperty(value, type) {\n  // Skip null, undefined, or empty string\n  if (value === null || value === undefined || value === '') {\n    return null;\n  }\n  \n  switch(type) {\n    case 'title':\n      return { \n        title: [{ text: { content: String(value) } }] \n      };\n    \n    case 'rich_text':\n      return { \n        rich_text: [{ text: { content: String(value) } }] \n      };\n    \n    case 'select':\n      return { \n        select: { name: String(value) } \n      };\n    \n    case 'multi_select':\n      const values = Array.isArray(value) ? value : [value];\n      const filtered = values.filter(v => v !== null && v !== undefined && v !== '');\n      return filtered.length > 0 ? {\n        multi_select: filtered.map(v => ({ name: String(v) }))\n      } : null;\n    \n    case 'status':\n      return { \n        status: { name: String(value) } \n      };\n    \n    case 'date':\n      const dateStr = value.includes('T') ? value.split('T')[0] : value;\n      return { \n        date: { start: dateStr } \n      };\n    \n    case 'checkbox':\n      return { \n        checkbox: Boolean(value) \n      };\n    \n    case 'number':\n      return { \n        number: Number(value) \n      };\n    \n    case 'url':\n      return {\n        url: String(value)\n      };\n    \n    case 'people':\n      // People property - expects array of user objects\n      // AI will set this as null, but keeping handler for future use\n      if (Array.isArray(value)) {\n        return {\n          people: value.map(person => ({ id: person.id || person }))\n        };\n      }\n      return null;\n    \n    default:\n      return null;\n  }\n}\n\nconst properties = {};\n\n// Build properties dynamically from schema and AI output\nfor (const [propName, propConfig] of Object.entries(propertySchema)) {\n  const value = taskData[propName];\n  \n  // Only add property if it has a value (skip nulls)\n  if (value !== undefined && value !== null && value !== '') {\n    const formatted = formatProperty(value, propConfig.type);\n    if (formatted !== null) {\n      properties[propName] = formatted;\n    }\n  }\n  \n  // Special handling for checkbox - include false values\n  if (propConfig.type === 'checkbox' && value !== undefined && value !== null) {\n    properties[propName] = formatProperty(value, 'checkbox');\n  }\n}\n\n// ========== AUTO-SET CREATED DATE ==========\nif (AUTO_SET_CREATED_DATE) {\n  // Set CreatedDate to today in Adelaide timezone\n  const dates = $('parseProps').first().json.dates;\n  properties['CreatedDate'] = { \n    date: { start: dates.today } \n  };\n}\n// ===========================================\n\nreturn [{\n  json: {\n    parent: { \n      database_id: databaseId \n    },\n    properties: properties\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-144],"id":"651a4d3f-93b9-4bbf-9b3d-d60b3ed645e6","name":"prepNotionPayload"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=You are a work task parser for a developer/team workflow. Parse the user's natural language input and extract task properties intelligently.\n\nVoice input: {{$json.userInput}}\n\nDatabase schema with available properties:\n{{JSON.stringify($json.propertySchema, null, 2)}}\n\nCurrent date references (Adelaide timezone):\n- Today: {{$json.dates.today}}\n- Tomorrow: {{$json.dates.tomorrow}}\n- This Friday: {{$json.dates.thisFriday}}\n- This weekend: {{$json.dates.thisWeekend}}\n- Next week: {{$json.dates.nextWeek}}\n\nCRITICAL: DETECT URGENCY KEYWORDS FIRST!\n\nSTATUS AND DUE DATE RULES (check in this order):\n\n1. TODAY TASKS - Active work right now:\n   Keywords: \"today\", \"now\", \"urgent\", \"ASAP\", \"quick\", \"blocking\", \"critical\", \"immediately\"\n   Sets:\n   * Status = \"In Progress\"\n   * Due = {{$json.dates.today}}\n   * Priority = \"High\"\n\n2. THIS WEEK TASKS - Scheduled for this week:\n   Keywords: \"this week\", \"by Friday\", \"by end of week\", \"soon\", \"next few days\"\n   Sets:\n   * Status = \"Ready for Development\"\n   * Due = {{$json.dates.thisFriday}}\n   * Priority = \"Medium\"\n\n3. BACKLOG TASKS - No deadline (default):\n   NO urgency keywords mentioned\n   Sets:\n   * Status = \"Backlog\"\n   * Due = null\n   * Priority = \"Medium\"\n\nTASK TYPE DETECTION:\n- If mentions \"bug\", \"fix\", \"issue\", \"ticket\", \"support\", \"customer\", \"client problem\":\n  * Tags = [\"Support Ticket\"]\n  * Priority = \"High\" (unless specified otherwise)\n- Otherwise:\n  * Tags = [\"Work Item\"]\n\nProperty type rules:\n- title: Use for \"Task name\" - the core work item description\n- rich_text: Use for \"Summary\" for additional context. Leave \"Repo\" null.\n- date: Use YYYY-MM-DD format for \"Due\":\n  * \"today\" → {{$json.dates.today}}\n  * \"this week\" or \"by Friday\" → {{$json.dates.thisFriday}}\n  * \"tomorrow\" → {{$json.dates.tomorrow}}\n  * \"this weekend\" → {{$json.dates.thisWeekend}}\n  * \"next week\" → {{$json.dates.nextWeek}}\n  * No mention → null","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[144,-144],"id":"4298543c-2077-4680-a1cf-2a499686ee95","name":"Personal Task Agent","credentials":{"openAiApi":{"id":"ZIhKmLFbnV3eHkVn","name":"OpenAi SDL(personal)"}}},{"parameters":{"resource":"database","databaseId":{"__rl":true,"value":"e11afe53-9a5e-43b4-9bca-0e635c8d1ebd","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/e11afe539a5e43b49bca0e635c8d1ebd"},"simple":false},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-288,-144],"id":"48c65864-9dff-47ba-b5f4-d4409e29b93c","name":"GetDatabaseProps","credentials":{"notionApi":{"id":"bJEiPdmKyoxumxIL","name":"Notion - MOff-SDL-Private"}}},{"parameters":{"jsCode":"// Get the database schema from the previous Notion node\nconst database = $input.first().json;\nconst properties = database.properties;\n\n// Property types with predefined options\nconst optionTypes = ['select', 'multi_select', 'status'];\n\n// Property types that are read-only (can't be set)\nconst readOnlyTypes = ['formula', 'rollup', 'created_time', 'created_by', 'last_edited_time', 'last_edited_by'];\n\n// Extract all writable properties\nconst propertySchema = {};\n\nfor (const [propertyName, propertyConfig] of Object.entries(properties)) {\n  const propertyType = propertyConfig.type;\n  \n  // Skip read-only properties\n  if (readOnlyTypes.includes(propertyType)) {\n    continue;\n  }\n  \n  const propInfo = {\n    type: propertyType\n  };\n  \n  // Add options for properties that have them\n  if (optionTypes.includes(propertyType)) {\n    const options = propertyConfig[propertyType]?.options;\n    if (options && Array.isArray(options)) {\n      propInfo.options = options.map(opt => opt.name);\n    }\n  }\n  \n  propertySchema[propertyName] = propInfo;\n}\n\n// ========== CALCULATE ADELAIDE DATES ==========\nconst now = new Date();\n\n// Get Adelaide date\nconst adelaideDate = new Date(now.toLocaleString('en-US', {\n  timeZone: 'Australia/Adelaide'\n}));\n\n// Today in Adelaide\nconst today = adelaideDate.toLocaleDateString('en-CA'); // YYYY-MM-DD\n\n// Tomorrow\nconst tomorrowDate = new Date(adelaideDate);\ntomorrowDate.setDate(tomorrowDate.getDate() + 1);\nconst tomorrow = tomorrowDate.toLocaleDateString('en-CA');\n\n// This Friday\nconst thisFridayDate = new Date(adelaideDate);\nconst dayOfWeek = adelaideDate.getDay(); // 0 = Sunday, 5 = Friday\nconst daysUntilFriday = (5 - dayOfWeek + 7) % 7;\n\nif (daysUntilFriday === 0) {\n  // Today IS Friday, use next Friday\n  thisFridayDate.setDate(thisFridayDate.getDate() + 7);\n} else {\n  thisFridayDate.setDate(thisFridayDate.getDate() + daysUntilFriday);\n}\nconst thisFriday = thisFridayDate.toLocaleDateString('en-CA');\n\n// This weekend (next Saturday)\nconst weekendDate = new Date(adelaideDate);\nconst daysUntilSaturday = (6 - adelaideDate.getDay() + 7) % 7 || 7;\nweekendDate.setDate(weekendDate.getDate() + daysUntilSaturday);\nconst thisWeekend = weekendDate.toLocaleDateString('en-CA');\n\n// Next week\nconst nextWeekDate = new Date(adelaideDate);\nnextWeekDate.setDate(nextWeekDate.getDate() + 7);\nconst nextWeek = nextWeekDate.toLocaleDateString('en-CA');\n\nconst dateReferences = {\n  today,\n  tomorrow,\n  thisFriday,    // ← Added this\n  thisWeekend,\n  nextWeek\n};\n// ===============================================\n\n// Get the original webhook data\nconst webhookData = $('Webhook').first().json;\n\n// Pass everything forward\nreturn [{\n  json: {\n    userInput: webhookData.body.text,\n    propertySchema: propertySchema,\n    dates: dateReferences\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-144],"id":"e2d94e2a-e00e-411d-9145-d5c307349142","name":"parseProps"}],"connections":{"Webhook":{"main":[[{"node":"GetDatabaseProps","type":"main","index":0}]]},"POST to Notion":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"prepNotionPayload":{"main":[[{"node":"POST to Notion","type":"main","index":0}]]},"Personal Task Agent":{"main":[[{"node":"prepNotionPayload","type":"main","index":0}]]},"GetDatabaseProps":{"main":[[{"node":"parseProps","type":"main","index":0}]]},"parseProps":{"main":[[{"node":"Personal Task Agent","type":"main","index":0}]]}},"workflow_name":"Notion Task Creator - Work"}