workflow-backups/LM/Notion_Task_Upserter.json
{
  "versionid": "f9db8e45-f55d-4027-b467-ed76e7dd46a5",
  "workflowid": "jrYsJDy3IpZ3hpqM",
  "createdat": "2025-12-21T01:32:12.301Z",
  "updatedat": "2025-12-21T01:32:12.301Z",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const tasks = $input.all().map(item => ({\n  id: item.json.id,\n  title: item.json.name,\n  notes: item.json.property_notes || \"\",\n  dueDate: item.json.property_due_date?.start || null,\n  completed: item.json.property_completed || false,\n  reminderID: item.json.property_reminder_id || \"\"\n}));\n\nreturn [{ json: { tasks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        96
      ],
      "id": "04f00191-f917-491f-843f-810d8adf8054",
      "name": "parse"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        176
      ],
      "id": "816b4d41-5f14-429d-b53b-6331ded62b7b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        96
      ],
      "id": "f3b3a032-14e9-4806-afb8-25bdf9930ecb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Version Control\n2025-12-21 11:40 LM - init",
        "height": 192,
        "width": 556,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        384
      ],
      "id": "a72b6823-44ad-4257-bd65-bab0b4fb92a0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Notion Task Responder",
        "height": 80,
        "width": 548,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        288
      ],
      "id": "13184258-7607-47a0-bc69-f6900336dab0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -256
      ],
      "id": "7d67c951-c940-4c6a-8fc6-252ea0d9f923",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "GTD Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Today"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        -368
      ],
      "id": "9f48e1c0-18c1-462a-876a-cdc942fcb745",
      "name": "Get Personal Today Tasks",
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "GTD Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Due Date|date",
              "condition": "equals",
              "date": "={{ $today.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        -192
      ],
      "id": "8c324202-0028-4251-987e-db1b15693070",
      "name": "Get Personal Due Today Tasks",
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "7c7eba56-7d9b-4256-b9df-6a02dea6714e",
      "name": "Router"
    },
    {
      "parameters": {
        "path": "c9463560-0b97-49b9-85e7-dc5275c7a1de",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -16
      ],
      "id": "3777fa81-b542-4657-90fb-0786daed455e",
      "name": "GET",
      "webhookId": "c9463560-0b97-49b9-85e7-dc5275c7a1de",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k9lQZ1gYvf8WoBEb",
          "name": "Header Auth - Task Webhook"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "Moff Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -48,
        -224
      ],
      "id": "fb4ed981-00dd-4f3a-a62e-55170f3dee2f",
      "name": "GetDatabaseProps",
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "Moff Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "limit": 100,
        "filterType": "json",
        "filterJson": "={\n  \"and\": [\n    {\n      \"property\": \"Status\",\n      \"status\": {\n        \"equals\": \"Next Action\"\n      }\n    },\n    {\n      \"property\": \"Completed\",\n      \"checkbox\": {\n        \"equals\": false\n      }\n    },\n    {\n      \"property\": \"Type\",\n      \"select\": {\n        \"does_not_equal\": \"Reference\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        192,
        96
      ],
      "id": "a2f7c2ce-21b7-4fb9-b683-9e21c7a03083",
      "name": "Get Next Action Tasks",
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Get Personal Today Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Personal Due Today Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Get Next Action Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Action Tasks": {
      "main": [
        [
          {
            "node": "parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_name": "Notion Task Upserter"
}