workflow-backups/LM/Notion_Task_Upserter.json
{
  "versionid": "97db0059-f10b-4f4d-a9fc-738d63eed0a8",
  "workflowid": "jrYsJDy3IpZ3hpqM",
  "createdat": "2025-12-21T01:32:12.203Z",
  "updatedat": "2025-12-29T07:46:09.008Z",
  "nodes": [
    {
      "parameters": {
        "content": "## Version Control\n2025-12-21 11:40 LM - init\n2025-12-21 18:24 LM - added branch for reminderID inserting\n2025-12-22 19:24 LM - added a task close branch\n2025-12-22 20:21 LM - added an If condition on the delete in case it doesn't exist\n2025-12-29 10:11 LM - added in-loop return handling and post-loop summary\n2025-12-29 11:23 LM - added distinct action-type handling in the perClosingReminder loop",
        "height": 384,
        "width": 732,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        80
      ],
      "id": "a72b6823-44ad-4257-bd65-bab0b4fb92a0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Notion Task Upserter",
        "height": 80,
        "width": 724,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        -16
      ],
      "id": "13184258-7607-47a0-bc69-f6900336dab0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw reminders string\nconst raw = $input.first().json.body.reminders;\n\n// Split into lines, filter empties, parse JSON\nconst reminders = raw\n  .split('\\n')\n  .filter(line => line.trim().length > 0)\n  .map(line => JSON.parse(line));\n\n// Return each reminder as its own item\nreturn reminders.map(reminder => ({\n  json: reminder\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -352
      ],
      "id": "ff1d14a4-1651-4f42-9a61-3f531c639dca",
      "name": "splitArray"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74f83d07-353d-4e75-9b17-3509d1a6c941",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        272
      ],
      "id": "dbe53707-c760-40fd-a99e-2a5f3fa49516",
      "name": "IfExist"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        160
      ],
      "id": "50acbe86-a037-4b53-858a-8c3339856bd5",
      "name": "perReminder"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        272
      ],
      "id": "ed9da2cc-bbd9-49d9-a822-7839103d2fa9",
      "name": "currentItem"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        384
      ],
      "id": "2849b75c-6bdd-481b-ac9e-55d8cf9e8727",
      "name": "."
    },
    {
      "parameters": {
        "jsCode": "// prepNotionPayload-Create \nconst reminder = $('currentItem').item.json;\n\n// Build properties object\nconst properties = {\n  'Task': {\n    title: [{ text: { content: reminder.title } }]\n  },\n  'Notes': {\n    rich_text: [{ text: { content: reminder.notes || '' } }]\n  },\n  'Completed': {\n    checkbox: reminder.completed || false\n  },\n  'ReminderID': {\n    rich_text: [{ text: { content: reminder.id } }]\n  },\n  'Type': {\n    select: { name: 'Task' }\n  },\n  'Status': {\n    status: { name: 'Inbox' }\n  }\n};\n\n// Only add Due Date if it exists and is valid\nif (reminder.dueDate && reminder.dueDate !== 'null' && reminder.dueDate !== 'Invalid date') {\n  properties['Due Date'] = {\n    date: { start: reminder.dueDate }\n  };\n}\n\n// Build the complete payload\nconst payload = {\n  parent: {\n    database_id: '28629734-f237-8011-9296-db67c90f5f75'\n  },\n  properties: properties\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        384
      ],
      "id": "af1fd8b1-7c48-4505-80ad-e812765db6a7",
      "name": "prepNotionPayload-Create"
    },
    {
      "parameters": {
        "jsCode": "const reminder = $('currentItem').item.json;\n\n// Build properties object (only fields that might change)\nconst properties = {\n  'Task': {\n    title: [{ text: { content: reminder.title } }]\n  },\n  'Notes': {\n    rich_text: [{ text: { content: reminder.notes || '' } }]\n  },\n  'Completed': {\n    checkbox: reminder.completed || false\n  }\n};\n\n// Only add Due Date if it exists and is valid\nif (reminder.dueDate && reminder.dueDate !== 'null' && reminder.dueDate !== 'Invalid date') {\n  properties['Due Date'] = {\n    date: { start: reminder.dueDate }\n  };\n}\n\n// Return just the properties wrapped in the required structure\nreturn [{\n  json: {\n    properties: properties\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        160
      ],
      "id": "141e4874-f9e1-43fe-926d-84834af8c024",
      "name": "prepNotionPayload-Update"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        384
      ],
      "id": "0747651f-beb6-4e57-ac97-87ae1f163dfc",
      "name": "POST to Notion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AoLRfV3kJAAxUfXj",
          "name": "Notion - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('IfExist').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        160
      ],
      "id": "e535f8bb-b6e7-4eaf-81f6-793c35d6996a",
      "name": "PATCH to Notion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AoLRfV3kJAAxUfXj",
          "name": "Notion - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        80
      ],
      "id": "082f8377-0f20-4e23-a1de-37391c8186ad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2c0ca133-cf0a-413a-a794-76ff7373f1a9",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -352
      ],
      "id": "96fac77a-974d-4ac5-bb39-5838426f3630",
      "name": "Webhook",
      "webhookId": "2c0ca133-cf0a-413a-a794-76ff7373f1a9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k9lQZ1gYvf8WoBEb",
          "name": "Header Auth - Task Webhook"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notion_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "4aca19ee-941b-4937-9646-d5ce43411302"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update ReminderID"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a45870dc-9c6e-499c-92aa-d524b9a5fd17",
                    "leftValue": "={{ Object.keys($json).length === 1 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Close Tasks"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Create Tasks"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        -368
      ],
      "id": "8ac205c4-c5e5-4293-99df-dc6e28a438c0",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -784
      ],
      "id": "8f5e199a-2159-4b4c-8180-cccac26a827c",
      "name": "perReminderReturn"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "CurrentItem",
      "typeVersion": 1,
      "position": [
        624,
        -704
      ],
      "id": "c3445188-12af-40c3-bf2a-aa324ef9e668"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('CurrentItem').item.json.notion_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -704
      ],
      "id": "09bf8064-0002-4efc-8bab-63dc11090f16",
      "name": "PATCH ReminderID to Notion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AoLRfV3kJAAxUfXj",
          "name": "Notion - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//const reminderID = 'x-apple-reminder://' + $input.first().json.reminder_id;\nconst reminderID = $input.first().json.reminder_id;\n  \nreturn [\n  {\n    json: {\n      properties: {\n        ReminderID: {\n          rich_text: [\n            {\n              type: \"text\",\n              text: {\n                content: reminderID\n              }\n            }\n          ]\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -704
      ],
      "id": "649f0700-10d7-4b74-86e0-9fffa1bec330",
      "name": "setupNotionPayload-ReminderID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        -880
      ],
      "id": "ed8a0c35-74a6-47eb-a1d1-fc31758e6cac",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "CurrentItem1",
      "typeVersion": 1,
      "position": [
        624,
        -272
      ],
      "id": "6de7cfd1-75e8-4786-8ad0-7acf18dd798e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        -448
      ],
      "id": "50154064-252a-475f-9926-169ef73408f8",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -352
      ],
      "id": "75751830-5b64-4551-b472-4391ecff0f84",
      "name": "perClosingReminder"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "Moff Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "limit": 1,
        "filterType": "json",
        "filterJson": "={\n  \"and\": [\n    {\n      \"property\": \"ReminderID\",\n      \"rich_text\": {\n        \"equals\": \"{{$json.id}}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        816,
        -272
      ],
      "id": "48a64a45-3ef7-4d9f-bb48-2246d7fe1113",
      "name": "getTaskToClose",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Completed|checkbox",
              "checkboxValue": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1216,
        -112
      ],
      "id": "dc4747a9-eec2-4ebb-a5b1-8a99ac046998",
      "name": "Close Task",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const notionId = $input.first().json.id;\nconst appleReminderId = $input.first().json.properties.ReminderID.rich_text[0].text.content\nconst title = $input.first().json.properties.Task.title[0].text.content;\nconst action = 'created';\n\nreturn [{\n  json:{\n    task_title: title,\n    action, \n    notion_id: notionId,\n    apple_reminder_id: appleReminderId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        384
      ],
      "id": "c639fcb7-c64b-4b89-8be3-150a4dc6e3b8",
      "name": "setupReturn-Created"
    },
    {
      "parameters": {
        "jsCode": "const notionId = $input.first().json.id;\nconst appleReminderId = $input.first().json.properties.ReminderID.rich_text[0].text.content\nconst title = $input.first().json.properties.Task.title[0].text.content;\nconst action = 'updated';\n\nreturn [{\n  json:{\n    task_title: title,\n    action, \n    notion_id: notionId,\n    apple_reminder_id: appleReminderId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        160
      ],
      "id": "e253f0a2-ae71-45a7-8b6f-785e49872907",
      "name": "setupReturn-Updated"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the loop\nconst items = $input.all();\n\n// Initialize result structure\nconst created = [];\nconst updated = [];\n\n// Sort items by action type\nitems.forEach(item => {\n  const task = item.json;\n  \n  if (task.action === 'created') {\n    created.push(task);\n  } else if (task.action === 'updated') {\n    updated.push(task);\n  }\n});\n\n// Build the response\nreturn [{\n  json: {\n    created_tasks_count: created.length,\n    updated_tasks_count: updated.length,\n    tasks_created: created,\n    tasks_updated: updated\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        80
      ],
      "id": "020727bb-2e48-4048-b6dc-05b3a4caae25",
      "name": "summariseReturn"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the loop\nconst items = $input.all();\n\n// Initialize result structure\nconst noAction = [];\nconst closed = [];\nconst notFound = [];\n\n// Sort items by action type\nitems.forEach(item => {\n  const task = item.json;\n  \n  if (task.action === 'no-action') {\n    noAction.push(task);\n  } else if (task.action === 'closed') {\n    closed.push(task);\n  } else if (task.action === 'task-not-found') {\n    notFound.push(task);\n  }\n});\n\n// Build the response\nreturn [{\n  json: {\n    no_action_count: noAction.length,\n    closed_count: closed.length,\n    not_found_count: notFound.length,\n    tasks_no_action: noAction,\n    tasks_closed: closed,\n    tasks_not_found: notFound\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -448
      ],
      "id": "a4b1e985-4ed2-40fc-a89f-692e74c5132a",
      "name": "summariseReturn-Closed"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the loop\nconst items = $input.all();\n\n// Extract the task objects\nconst tasks = items.map(item => item.json);\n\n// Build the response\nreturn [{\n  json: {\n    reminder_id_added: tasks.length,\n    tasks_updated: tasks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -880
      ],
      "id": "0c14c105-7ddf-4264-a29d-235a05bcce31",
      "name": "summariseReturn-ReminderId"
    },
    {
      "parameters": {
        "jsCode": "const notionId = $input.first().json.id;\nconst appleReminderId = $input.first().json.properties.ReminderID.rich_text[0].text.content\nconst title = $input.first().json.properties.Task.title[0].text.content;\nconst action = 'reminder_id_added';\n\nreturn [{\n  json:{\n    task_title: title,\n    action, \n    notion_id: notionId,\n    apple_reminder_id: appleReminderId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -704
      ],
      "id": "fe5a8745-9751-4532-9e34-25e5846a7b81",
      "name": "setupReturn-ReminderId"
    },
    {
      "parameters": {
        "jsCode": "const notionId = $input.first().json.id;\nconst appleReminderId = $input.first().json.properties.ReminderID.rich_text[0].text.content\nconst title = $input.first().json.properties.Task.title[0].text.content;\nconst action = 'closed';\n\nreturn [{\n  json:{\n    task_title: title,\n    action, \n    notion_id: notionId,\n    apple_reminder_id: appleReminderId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -112
      ],
      "id": "eccaabc1-510f-429f-8cae-c90fd387f8ea",
      "name": "setupReturn-Closed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1632,
        -112
      ],
      "id": "b363c284-fd73-4a34-99e5-7438f1153c7f",
      "name": ".."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json}}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "6fba8b54-f03f-4412-a793-0245bc2889ba"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Task Not Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a182749-8f8a-4c70-bdcf-dd4734e93c32",
                    "leftValue": "={{ $json.property_completed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Already Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "264a5dcc-aac8-4862-8890-35c1b750533c",
                    "leftValue": "={{ $json.property_completed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs Completing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1008,
        -288
      ],
      "id": "7b2c8c39-2957-4046-9470-0d22f420dd8a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const notionId = $input.first().json.id;\nconst appleReminderId = $input.first().json.property_reminder_id;\nconst title = $input.first().json.name;\nconst action = 'task-not-found';\n\nreturn [{\n  json:{\n    task_title: title,\n    action, \n    notion_id: notionId,\n    apple_reminder_id: appleReminderId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -432
      ],
      "id": "a47de2fc-721b-439e-8366-ebe7d0f67c02",
      "name": "return-TaskNotFound"
    },
    {
      "parameters": {
        "jsCode": "const notionId = $input.first().json.id;\nconst appleReminderId = $input.first().json.property_reminder_id;\nconst title = $input.first().json.name;\nconst action = 'no-action';\n\nreturn [{\n  json:{\n    task_title: title,\n    action, \n    notion_id: notionId,\n    apple_reminder_id: appleReminderId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -272
      ],
      "id": "79d0ced5-aca3-4c01-a050-1f4ab3e300fa",
      "name": "setupReturn-NoAction"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "28629734-f237-8011-9296-db67c90f5f75",
          "mode": "list",
          "cachedResultName": "Moff Tasks",
          "cachedResultUrl": "https://www.notion.so/28629734f23780119296db67c90f5f75"
        },
        "filterType": "json",
        "filterJson": "={\n  \"and\": [\n    {\n      \"property\": \"ReminderID\",\n      \"rich_text\": {\n        \"equals\": \"{{$json.id}}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        816,
        272
      ],
      "id": "c29f19d9-c0e4-466f-9222-52122e588e76",
      "name": "get Tasks with ReminderID's",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "bJEiPdmKyoxumxIL",
          "name": "Notion - Moff-SDL-Private"
        }
      }
    }
  ],
  "connections": {
    "splitArray": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perReminder": {
      "main": [
        [
          {
            "node": "summariseReturn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "currentItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfExist": {
      "main": [
        [
          {
            "node": "prepNotionPayload-Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prepNotionPayload-Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentItem": {
      "main": [
        [
          {
            "node": "get Tasks with ReminderID's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ".": {
      "main": [
        [
          {
            "node": "perReminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepNotionPayload-Create": {
      "main": [
        [
          {
            "node": "POST to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Notion": {
      "main": [
        [
          {
            "node": "setupReturn-Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepNotionPayload-Update": {
      "main": [
        [
          {
            "node": "PATCH to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH to Notion": {
      "main": [
        [
          {
            "node": "setupReturn-Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "splitArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "perReminderReturn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "perClosingReminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "perReminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perReminderReturn": {
      "main": [
        [
          {
            "node": "summariseReturn-ReminderId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CurrentItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CurrentItem": {
      "main": [
        [
          {
            "node": "setupNotionPayload-ReminderID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setupNotionPayload-ReminderID": {
      "main": [
        [
          {
            "node": "PATCH ReminderID to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH ReminderID to Notion": {
      "main": [
        [
          {
            "node": "setupReturn-ReminderId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CurrentItem1": {
      "main": [
        [
          {
            "node": "getTaskToClose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perClosingReminder": {
      "main": [
        [
          {
            "node": "summariseReturn-Closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CurrentItem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getTaskToClose": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Task": {
      "main": [
        [
          {
            "node": "setupReturn-Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setupReturn-Created": {
      "main": [
        [
          {
            "node": ".",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setupReturn-Updated": {
      "main": [
        [
          {
            "node": ".",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summariseReturn": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summariseReturn-Closed": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summariseReturn-ReminderId": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setupReturn-ReminderId": {
      "main": [
        [
          {
            "node": "perReminderReturn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setupReturn-Closed": {
      "main": [
        [
          {
            "node": "..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "..": {
      "main": [
        [
          {
            "node": "perClosingReminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return-TaskNotFound": {
      "main": [
        [
          {
            "node": "..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "return-TaskNotFound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setupReturn-NoAction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setupReturn-NoAction": {
      "main": [
        [
          {
            "node": "..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Tasks with ReminderID's": {
      "main": [
        [
          {
            "node": "IfExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_name": "Notion Task Upserter"
}