workflow-backups/LM/Notion_Today_Tasks_Responder.json
{"versionid":"3b1b3a82-596b-43a9-b8b3-b6029a2c0b01","workflowid":"l2vv1H7qVphLK98a","createdat":"2025-10-16T01:34:12.983Z","updatedat":"2025-10-21T08:18:35.200Z","nodes":[{"parameters":{"path":"24c1ad5b-b318-48b5-a66f-db812eb45f60","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,-16],"id":"2a872df0-2ef5-46af-86f0-5cd024d0d6a2","name":"Webhook1","webhookId":"24c1ad5b-b318-48b5-a66f-db812eb45f60","credentials":{"httpHeaderAuth":{"id":"k9lQZ1gYvf8WoBEb","name":"Header Auth - Task Webhook"}},"disabled":true},{"parameters":{"jsCode":"const tasks = $input.all().map(item => ({\n  id: item.json.id,\n  title: item.json.name,\n  dueDate: item.json.property_due_date?.start || new Date().toISOString().split('T')[0]\n}));\n\nreturn [{ json: { tasks } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,96],"id":"d5dbd629-a6ed-4332-aaba-e42b1dfd6db6","name":"parse"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-192,176],"id":"e887d802-ef0a-432e-88e3-db5df800718b","name":"When clicking ‘Execute workflow’"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[848,96],"id":"94056e0b-b82d-45cd-bf58-7fd6b7dd08d5","name":"Respond to Webhook"},{"parameters":{"content":"## Version Control\n2025-10-17 12:14 LM - deployed it a few days ago\n2025-10-17 12:14 LM - updated the response to include the notion page id.\n2025-10-19 19:53 LM - added a notion node to also get SDL > Tasks pages","height":192,"width":556,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,384],"id":"e5721c22-d525-44cb-b977-e5d24988db8d","name":"Sticky Note3"},{"parameters":{"content":"# Notion Today Tasks Responder","height":80,"width":548,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,288],"id":"9062db6d-efad-4141-a7d9-13264afdd25d","name":"Sticky Note"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[448,80],"id":"2f93a8eb-b5d4-48d2-acce-16bf8d99949f","name":"Merge"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"28629734-f237-8011-9296-db67c90f5f75","mode":"list","cachedResultName":"GTD Tasks","cachedResultUrl":"https://www.notion.so/28629734f23780119296db67c90f5f75"},"filterType":"manual","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"Today"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[208,-80],"id":"5d67e056-1a87-4979-8295-a8e44a90dfa4","name":"Get Personal Today Tasks","credentials":{"notionApi":{"id":"bJEiPdmKyoxumxIL","name":"Notion - Moff-SDL-Private"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"28629734-f237-8011-9296-db67c90f5f75","mode":"list","cachedResultName":"GTD Tasks","cachedResultUrl":"https://www.notion.so/28629734f23780119296db67c90f5f75"},"filterType":"manual","filters":{"conditions":[{"key":"Due Date|date","condition":"equals","date":"={{ $today.toFormat('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[208,96],"id":"cd83b37e-f052-4986-bec1-a717c692e901","name":"Get Personal Due Today Tasks","credentials":{"notionApi":{"id":"bJEiPdmKyoxumxIL","name":"Notion - Moff-SDL-Private"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,96],"id":"790067b1-bbeb-42d3-8dab-763cbfc114ee","name":"Router"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"e11afe53-9a5e-43b4-9bca-0e635c8d1ebd","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/e11afe539a5e43b49bca0e635c8d1ebd"},"limit":100,"filterType":"json","filterJson":"={\n  \"and\": [\n    {\n      \"property\": \"Due\",\n      \"date\": {\n        \"equals\": \"{{ $today.toFormat('yyyy-MM-dd') }}\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[208,288],"id":"c11dd502-8c72-4cd2-922c-3ebac0233db8","name":"Get many database pages","credentials":{"notionApi":{"id":"bJEiPdmKyoxumxIL","name":"Notion - Moff-SDL-Private"}}}],"connections":{"Webhook1":{"main":[[{"node":"Router","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Router","type":"main","index":0}]]},"parse":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Merge":{"main":[[{"node":"parse","type":"main","index":0}]]},"Get Personal Today Tasks":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get Personal Due Today Tasks":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Router":{"main":[[{"node":"Get Personal Today Tasks","type":"main","index":0},{"node":"Get Personal Due Today Tasks","type":"main","index":0},{"node":"Get many database pages","type":"main","index":0}]]},"Get many database pages":{"main":[[{"node":"Merge","type":"main","index":2}]]}},"workflow_name":"Notion Today Tasks Responder"}