workflow-backups/LM/Read_Recent_Slack_Messages.json
{"versionid":"c6e2d7b3-410d-48f4-913d-50035629d50c","workflowid":"HRyh3gSnUojonPZn","createdat":"2026-01-10T13:18:03.475Z","updatedat":"2026-01-10T13:18:07.403Z","nodes":[{"parameters":{"path":"378b13f4-8821-43dc-8928-ec4479b4f9fa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[352,448],"id":"94147bee-f349-4323-bf92-11bc41c391d0","name":"Webhook","webhookId":"378b13f4-8821-43dc-8928-ec4479b4f9fa"},{"parameters":{"url":"https://slack.com/api/conversations.history","authentication":"predefinedCredentialType","nodeCredentialType":"slackOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel","value":"={{ $json.id }}"},{"name":"inclusive","value":"true"},{"name":"limit","value":"3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[848,112],"id":"00f236cf-0ead-4367-a90b-83c03b8fefc9","name":"HTTP Request","credentials":{"slackApi":{"id":"qPNRJ2gYNvlnyMvR","name":"Slack - Nathan - User OAuth Token"},"slackOAuth2Api":{"id":"XTEA9YkYuloLMnZ3","name":"Slack account - Moff-Home App"}}},{"parameters":{"resource":"user","operation":"getAll"},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[784,448],"id":"3b692267-d45c-4d51-b896-2d94514f7504","name":"getUsers","webhookId":"7f324103-1b1b-4f90-b8a0-d8d9f8be86c0","executeOnce":true,"credentials":{"slackApi":{"id":"qPNRJ2gYNvlnyMvR","name":"Slack - Nathan - User OAuth Token"}}},{"parameters":{"resource":"channel","operation":"getAll","filters":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[576,448],"id":"7e784d2e-ada8-438b-b134-6db464de6afa","name":"getChannels","webhookId":"77e3f345-0d46-4ac2-9af2-f9ba35d66d6f","credentials":{"slackApi":{"id":"qPNRJ2gYNvlnyMvR","name":"Slack - Nathan - User OAuth Token"}}},{"parameters":{"jsCode":"// Get all users\nconst users = $input.all();\n\n// Filter to only active, non-bot, non-guest users\nconst filteredUsers = users.filter(item => {\n  const user = item.json;\n  \n  return (\n    !user.deleted &&           // Not deleted\n    !user.is_bot &&            // Not a bot\n    !user.is_restricted &&     // Not a guest\n    user.id !== 'USLACKBOT'    // Not Slackbot itself\n  );\n});\n\n// Remove duplicates by ID using a Map\nconst uniqueUsersMap = new Map();\n\nfilteredUsers.forEach(item => {\n  const userId = item.json.id;\n  // Only add if we haven't seen this ID before\n  if (!uniqueUsersMap.has(userId)) {\n    uniqueUsersMap.set(userId, item);\n  }\n});\n\n// Convert Map back to array\nconst uniqueUsers = Array.from(uniqueUsersMap.values());\n\nreturn uniqueUsers;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,448],"id":"98d54c2a-10dd-473e-bf7b-163426b74097","name":"realUsers"},{"parameters":{"jsCode":"// Get channels and users from previous nodes\nconst channels = $('getChannels').all();\nconst users = $('realUsers').all();\n\n// Get the user_channel and message from webhook\nconst webhookData = $('Webhook').first().json.body;\nconst userChannel = webhookData.user_channel;\nconst messages = webhookData.message_count;\n\n// Format channels for AI context\nconst formattedChannels = channels.map(item => ({\n  id: item.json.id,\n  name: item.json.name,\n  is_private: item.json.is_private || false\n}));\n\n// Format users for AI context\nconst formattedUsers = users.map(item => ({\n  id: item.json.id,\n  name: item.json.real_name || item.json.name,\n  display_name: item.json.profile?.display_name || ''\n}));\n\n// Return single item with all context for the AI\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    user_channel: userChannel,\n    message_count: messages,  // Pass message through unchanged\n    channels: formattedChannels,\n    users: formattedUsers,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,640],"id":"892e7bc2-d917-46ae-85d4-6c0a538c3c45","name":"agentSetup"},{"parameters":{"promptType":"define","text":"=You are a Slack target identifier. Match names to IDs.\n\nAVAILABLE CHANNELS:\n{{JSON.stringify($json.channels, null, 2)}}\n\nAVAILABLE USERS:\n{{JSON.stringify($json.users, null, 2)}}\n\nTarget: \"{{$json.user_channel}}\"\n\nINSTRUCTIONS:\n1. Match target against users/channels (case-insensitive)\n   - Users: check name, real_name, display_name\n   - Channels: check name\n2. Use EXACT ID from lists\n3. Return ONLY JSON (no markdown/explanation)\n\nOutput structure:\n\nUser match:\n{\"type\":\"user\",\"targetId\":\"EXACT_ID\",\"targetName\":\"matched name\"}\n\nChannel match:\n{\"type\":\"channel\",\"targetId\":\"EXACT_ID\",\"targetName\":\"matched name\"}\n\nNo match:\n{\"type\":\"error\",\"message\":\"Could not find user or channel matching 'X'\"}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[560,640],"id":"cc0262a2-cbe4-486e-a158-fff398b30a87","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[496,880],"id":"13a3005d-2ccc-4023-8bb0-96593e1252e3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ZIhKmLFbnV3eHkVn","name":"OpenAi SDL(personal)"}}},{"parameters":{"jsCode":"// Get the AI output string\nconst outputString = $input.first().json.output;\nconst parsedOutput = JSON.parse(outputString);\nconst messageCount = $('agentSetup').first().json.message_count;\nconst timestamp = $('agentSetup').first().json.timestamp\n// Return the complete object\nreturn [{\n  json: {\n    ...parsedOutput,\n    messageCount,\n    timestamp\n}\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,640],"id":"4da8af8a-cbe3-4054-be01-3b3bcb9330f3","name":"postProcess"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"user","operator":{"type":"string","operation":"equals"},"id":"dafb8cae-1bb4-499a-984f-3a8a724d6e5d"}],"combinator":"and"},"renameOutput":true,"outputKey":"user"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0b961513-447e-435d-9a1e-5db220c7f6d2","leftValue":"={{ $json.type }}","rightValue":"channel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"channel"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"unknown error"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1104,640],"id":"d65d9840-4036-4dd0-a56a-3f2f55d24022","name":"messageType"},{"parameters":{"url":"https://slack.com/api/im.history","authentication":"predefinedCredentialType","nodeCredentialType":"slackOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel","value":"={{ $json.targetId }}"},{"name":"inclusive","value":"true"},{"name":"limit","value":"3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1328,544],"id":"8effcf7a-090f-4dd7-bbc1-060fab841f6b","name":"Slack User IM1","credentials":{"slackApi":{"id":"qPNRJ2gYNvlnyMvR","name":"Slack - Nathan - User OAuth Token"},"slackOAuth2Api":{"id":"XTEA9YkYuloLMnZ3","name":"Slack account - Moff-Home App"}}},{"parameters":{"url":"https://slack.com/api/conversations.history","authentication":"predefinedCredentialType","nodeCredentialType":"slackOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel","value":"={{ $json.id }}"},{"name":"inclusive","value":"true"},{"name":"limit","value":"3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1328,736],"id":"7c41e7bc-7704-4ddd-9f4b-60c627ed8747","name":"Slack Channel","credentials":{"slackApi":{"id":"qPNRJ2gYNvlnyMvR","name":"Slack - Nathan - User OAuth Token"},"slackOAuth2Api":{"id":"XTEA9YkYuloLMnZ3","name":"Slack account - Moff-Home App"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"message\": {{ $json.speech }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1760,640],"id":"4ca016d2-8eff-463b-901d-039a989e3205","name":"Respond to Webhook"},{"parameters":{"jsCode":"const messages = $input.all();\n\nconst formatted = messages.map(msg => {\n  const channel = msg.json.channel_name;\n  const sender = msg.json.user_name;\n  const text = msg.json.text;\n  return `In ${channel}, ${sender} says: ${text}`;\n}).join('. ');\n\nreturn [{ json: { speech: formatted } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,640],"id":"69529c4f-4af8-49b6-9a8f-35903b4bb8c1","name":"formatToSpeech"}],"connections":{"Webhook":{"main":[[{"node":"getChannels","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"getUsers":{"main":[[{"node":"realUsers","type":"main","index":0}]]},"getChannels":{"main":[[{"node":"getUsers","type":"main","index":0}]]},"realUsers":{"main":[[{"node":"agentSetup","type":"main","index":0}]]},"agentSetup":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"postProcess","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"postProcess":{"main":[[{"node":"messageType","type":"main","index":0}]]},"messageType":{"main":[[{"node":"Slack User IM1","type":"main","index":0}],[{"node":"Slack Channel","type":"main","index":0}]]},"Slack Channel":{"main":[[{"node":"formatToSpeech","type":"main","index":0}]]},"Slack User IM1":{"main":[[{"node":"formatToSpeech","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"formatToSpeech":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"workflow_name":"Read Recent Slack Messages"}