workflow-backups/LM/Sync_Events_Rach___Luke.json
{"versionid":"1beeb674-8a8f-463f-aff7-130940c96160","workflowid":"IHB2IEV6B5luwhKt","createdat":"2025-10-21T08:10:01.270Z","updatedat":"2025-10-28T09:00:20.653Z","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 6-22 * * *"}]},"calendarId":{"__rl":true,"value":"rachmoffat@gmail.com","mode":"list","cachedResultName":"rachmoffat@gmail.com"},"triggerOn":"eventCreated","options":{"matchTerm":"Luke"}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[208,240],"id":"2a99fdd5-ee05-4133-90bd-320d074f0414","name":"Event Created - Rach","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 6-22 * * *"}]},"calendarId":{"__rl":true,"value":"rachmoffat@gmail.com","mode":"list","cachedResultName":"rachmoffat@gmail.com"},"triggerOn":"eventUpdated","options":{"matchTerm":"Luke"}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[208,432],"id":"641cd9a5-7cad-4ecc-baf2-b4afe36340d8","name":"Event Updated - Rach","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"487905d2-9f22-4c5c-98fc-8a865210afcc","leftValue":"={{ $json.creator.email }}","rightValue":"rachmoffat@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"95724d0b-2976-4258-83e5-14bf1e7d4e39","leftValue":"={{ $json.summary }}","rightValue":"Check","operator":{"type":"string","operation":"notContains"}},{"id":"8996d4f7-d3ea-483c-8db4-fc2fc511c7c4","leftValue":"={{ $json.summary }}","rightValue":"?","operator":{"type":"string","operation":"notContains"}},{"id":"1197005e-5ba7-4fca-8fd9-1ff8503ae256","leftValue":"={{ $json.start.dateTime ?? ''}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"19af3534-f9fb-4115-9322-cc12c2c823e2","leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"luke","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,240],"id":"a8475ae5-8f69-48a1-a9d0-3de0cf2be09e","name":"Filter"},{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 6-23 * * *"}]},"calendarId":{"__rl":true,"value":"rachmoffat@gmail.com","mode":"list","cachedResultName":"rachmoffat@gmail.com"},"triggerOn":"eventCancelled","options":{"matchTerm":"Luke"}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[208,672],"id":"67ab18ae-f7f2-4880-9d67-5cbcd266c735","name":"Event Cancelled","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"start":"={{ $('setupEvent').first().json.calendar_event.start }}","end":"={{ $('setupEvent').first().json.calendar_event.end }}","additionalFields":{"color":"3","description":"={{ $('setupEvent').first().json.calendar_event.description ?? '' }}","location":"={{ $('setupEvent').first().json.calendar_event.location ?? '' }}","summary":"={{ $('setupEvent').first().json.calendar_event.summary ?? '' }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1936,176],"id":"1496c8c1-3665-4994-8509-543f26fe081f","name":"Create In Luke's Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"limit":500,"timeMax":"={{ $now.plus({ week: 10 }) }}","options":{"query":"=#rach-sync {{ $json.id }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,672],"id":"12200c67-cc32-48c6-8491-7867ec09f06f","name":"checkExistingForDeletions","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,240],"id":"a3848517-4fa5-41fe-9a5b-e3c0cdbb96e9","name":"perCalendarEvent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71fa0892-ab97-4729-a7a1-64abdd2bb147","leftValue":"={{ $json.action }}","rightValue":"do nothing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Action"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"},"id":"8b76988c-0273-46aa-8004-6bdc7025995c"}],"combinator":"and"},"renameOutput":true,"outputKey":"create"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e7fcedd-abfd-448e-b4ea-c5e5ee2e9df3","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"update"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1696,320],"id":"2ec543be-cf1b-48ed-b0f3-8596cda6cd5c","name":"checkAction"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"eventId":"={{ $json.matchedEvent.id }}","updateFields":{"description":"={{ $json.calendar_event.description }}","end":"={{ $json.calendar_event.end }}","start":"={{ $json.calendar_event.start }}","summary":"={{ $json.calendar_event.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1936,368],"id":"a3e9093e-1af4-48ab-97ec-3c3a702deecb","name":"Update in Luke's Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rachmoffat@gmail.com","mode":"list","cachedResultName":"rachmoffat@gmail.com"},"limit":500,"timeMin":"={{ $now.minus({ week: 1 }) }}","timeMax":"={{ $now.plus({ week: 4 }) }}","options":{"query":"Luke"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[208,64],"id":"1ba5d561-b546-45eb-baa1-cf52fb1cc351","name":"Get Rach Events","executeOnce":true,"credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,64],"id":"e4c9ffc4-51a1-4ec9-88b3-dfa3cdaa3fe8","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1936,0],"id":"604dc4d1-132a-418f-be12-975348784e32","name":"No Operation, do nothing"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"limit":500,"timeMin":"={{ $now.minus({ week: 1 }) }}","timeMax":"={{ $now.plus({ week: 4 }) }}","options":{"query":"=#rach-sync"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[672,16],"id":"705497c6-80b3-4332-8be4-bd34d876cbca","name":"GetLukeEvents","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const originalEvent = $input.first().json;\n\n  const id = originalEvent.id;\n  const iCalUID = originalEvent.iCalUID;\n  const startTimeUTC = item.json.start.dateTime;\n  const endTimeUTC = item.json.end.dateTime;\n  const summary = item.json.summary;\n  const location = item.json.location;\n\n  // Clean out any existing #rach-sync block (tag + UID)\n  const rawDescription = item.json.description ?? '';\n  const cleanedDescription = rawDescription\n    .replace(/#rach-sync[\\s\\S]*?(\\n|$)/g, '') // removes tag + next line if present\n    .trim();\n\n  // Build new sync block\n  const syncBlock = `#rach-sync\\n${iCalUID}`;\n  const description = `${cleanedDescription}\\n\\n${syncBlock}`.trim();\n\n  // Parse start time to check work hours\n  const startDate = new Date(startTimeUTC);\n  const startHour = startDate.getUTCHours(); // Adjust if your times are not in UTC\n  const dayOfWeek = startDate.getUTCDay();   // 0 = Sunday, 1 = Monday, ..., 6 = Saturday\n\n  const isWeekday = dayOfWeek >= 1 && dayOfWeek <= 5;\n  const isWorkHour = startHour >= 8 && startHour < 17;\n  const work_hours = isWeekday && isWorkHour;\n\n  return {\n    json: {\n      calendar_event: {\n        id,\n        iCalUID,\n        start: startTimeUTC,\n        end: endTimeUTC,\n        summary,\n        description,\n        location,\n        work_hours\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,320],"id":"f4b255d5-1d51-4a83-9165-d3d6f7816c03","name":"setupEvent"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,320],"id":"bef8f3ab-fbeb-45c6-a128-2a9b4018d4f2","name":"currentItem"},{"parameters":{"jsCode":"const rachEvents = $('setupEvent').all();\nconst lukeEvents = $('GetLukeEvents').all();\n\nreturn rachEvents.map(rach => {\n  const incomingUID = rach.json.calendar_event?.iCalUID?.toLowerCase().trim();\n\n  const match = lukeEvents.find(luke => {\n    const desc = (luke.json.description ?? '').toLowerCase();\n    return desc.includes('#rach-sync') && desc.includes(incomingUID);\n  });\n\n  return {\n    json: {\n      ...rach.json,\n      matchedEvent: match?.json || null\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,320],"id":"46cb63c4-5d30-41fe-b70b-deb764548852","name":"matchLukeEvents"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const rachEvent = item.json.calendar_event;\n  const lukeEvent = item.json.matchedEvent;\n\n  // Default to create if no match\n  if (!lukeEvent) {\n    return {\n      json: {\n        ...item.json,\n        action: 'create',\n        reason: 'No matched Luke event'\n      }\n    };\n  }\n\n  // Compare core fields\n  const isSame =\n    rachEvent.start === lukeEvent.start?.dateTime &&\n    rachEvent.end === lukeEvent.end?.dateTime &&\n    (rachEvent.summary ?? '') === (lukeEvent.summary ?? '') &&\n    (rachEvent.description ?? '') === (lukeEvent.description ?? '') &&\n    (rachEvent.location ?? '') === (lukeEvent.location ?? '');\n\n  const action = isSame ? 'do nothing' : 'update';\n\n  return {\n    json: {\n      ...item.json,\n      action,\n      lukeCalendarId: lukeEvent.id\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,320],"id":"0beafdda-eaf7-47ab-bab9-f0d8b18753a2","name":"determineAction"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,368],"id":"128036fd-df95-4c54-99df-e0c42a82a344","name":"Loop Return"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"eventId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1056,672],"id":"cad27ff0-bed9-4e16-a65c-cba257a68df1","name":"Delete Luke Gmail Event","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,672],"id":"931a26e1-cf6a-424b-ac89-9103e7c74e0e","name":"ReplicateDeletes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"884fc013-28b6-452f-98c6-d4d662379f79","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,672],"id":"c67ccd86-a0ae-4fa4-b017-04f428b4b812","name":"ifNotEmpty"},{"parameters":{"content":"## Deletions\n","height":280,"width":1080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,608],"id":"5ca7b59f-00b3-432e-8699-a21be57ec3da","name":"Sticky Note1"},{"parameters":{"content":"## Version Control\n2025-10-21 18:52 LM - re-deploy to local instance","height":480,"width":844,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,704],"id":"28c0da2b-2906-45ec-8122-1079b8ac068c","name":"Sticky Note3"},{"parameters":{"content":"# Sync Events Rach > Luke","height":80,"width":836,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,608],"id":"c818b1f3-e92f-471d-9abe-224e21d9f5e9","name":"Sticky Note"}],"connections":{"Event Updated - Rach":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Event Created - Rach":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"perCalendarEvent","type":"main","index":0},{"node":"GetLukeEvents","type":"main","index":0}]]},"Event Cancelled":{"main":[[{"node":"ReplicateDeletes","type":"main","index":0}]]},"checkExistingForDeletions":{"main":[[{"node":"ifNotEmpty","type":"main","index":0}]]},"perCalendarEvent":{"main":[[],[{"node":"currentItem","type":"main","index":0}]]},"checkAction":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Create In Luke's Calendar","type":"main","index":0}],[{"node":"Update in Luke's Calendar","type":"main","index":0}]]},"Create In Luke's Calendar":{"main":[[{"node":"Loop Return","type":"main","index":0}]]},"Update in Luke's Calendar":{"main":[[{"node":"Loop Return","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Rach Events","type":"main","index":0}]]},"Get Rach Events":{"main":[[{"node":"Filter","type":"main","index":0}]]},"setupEvent":{"main":[[{"node":"matchLukeEvents","type":"main","index":0}]]},"currentItem":{"main":[[{"node":"setupEvent","type":"main","index":0}]]},"matchLukeEvents":{"main":[[{"node":"determineAction","type":"main","index":0}]]},"determineAction":{"main":[[{"node":"checkAction","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Return","type":"main","index":0}]]},"Loop Return":{"main":[[{"node":"perCalendarEvent","type":"main","index":0}]]},"ifNotEmpty":{"main":[[{"node":"Delete Luke Gmail Event","type":"main","index":0}],[{"node":"ReplicateDeletes","type":"main","index":0}]]},"ReplicateDeletes":{"main":[[],[{"node":"checkExistingForDeletions","type":"main","index":0}]]},"Delete Luke Gmail Event":{"main":[[{"node":"ReplicateDeletes","type":"main","index":0}]]}},"workflow_name":"Sync Events Rach > Luke"}