workflow-backups/LM/Sync_Relevant_Calendar_Events_Rach___Luke.json
{"versionid":"128a1c95-4305-47b0-b11f-2ad9867e320d","workflowid":"kxE42IUgtDhFdYSz","createdat":"2025-10-21T08:16:05.029Z","updatedat":"2025-10-28T09:00:34.685Z","nodes":[{"parameters":{"jsCode":"return $input.all().map(item => {\n  const startTimeUTC = item.json.start.dateTime;\n  const endTimeUTC = item.json.end.dateTime;\n  const summary = item.json.summary;\n  const location = item.json.location;\n\n  const existingDescription = item.json.description ?? ''; // fallback to empty string\n  const description = `${existingDescription}\\n#rach-sync`;\n\n  \n  return {\n    json: {\n      calendar_event: {\n        start: startTimeUTC,\n        end: endTimeUTC,\n        summary,\n        description,\n        location: location\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,208],"id":"cbf22e17-a9e3-4187-85bb-ecada8a8f9fa","name":"setupEvent"},{"parameters":{"calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"start":"={{ $json.calendar_event.start }}","end":"={{ $json.calendar_event.end }}","additionalFields":{"description":"={{ $json.calendar_event.description }}","location":"={{ $json.calendar_event.location || ''}}","summary":"={{ $json.calendar_event.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,208],"id":"1f563095-5961-4791-a2e0-ffd6dfacfec2","name":"createEvent-Luke","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,112],"id":"a85e129e-ad6f-4d2b-954c-0429e54c7186","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"487905d2-9f22-4c5c-98fc-8a865210afcc","leftValue":"={{ $json.creator.email }}","rightValue":"rachmoffat@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"95724d0b-2976-4258-83e5-14bf1e7d4e39","leftValue":"={{ $json.summary }}","rightValue":"Check","operator":{"type":"string","operation":"notContains"}},{"id":"8996d4f7-d3ea-483c-8db4-fc2fc511c7c4","leftValue":"={{ $json.summary }}","rightValue":"?","operator":{"type":"string","operation":"notContains"}},{"id":"1197005e-5ba7-4fca-8fd9-1ff8503ae256","leftValue":"={{ $json.start.dateTime ?? ''}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[208,208],"id":"305c19d4-b974-4b95-bb52-d4d4c80fdb3d","name":"Filter"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rachmoffat@gmail.com","mode":"list","cachedResultName":"rachmoffat@gmail.com"},"limit":200,"timeMax":"={{ $now.plus({ week: 6 }) }}","options":{"orderBy":"updated","query":"Luke"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,208],"id":"74411fb8-5d03-4aee-845a-5b1c18e70c7f","name":"Get Rach Events","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"limit":200,"timeMax":"={{ $now.plus({ week: 6 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0],"id":"b48eece8-db43-44c5-befd-db75970103ff","name":"Get Luke Events","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5ad0d9e-b534-4d70-b6f3-6a90de9f7a42","leftValue":"={{ $json.description }}","rightValue":"#rach-sync","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[208,0],"id":"173cd457-8bdb-4d29-ba31-276bb8d510ae","name":"getSyncdEvents"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"lukemoffat@gmail.com","mode":"list","cachedResultName":"Luke Moffat (gmail)"},"eventId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[432,0],"id":"516f9a3d-f681-4b3a-a448-0534fd0d4437","name":"deleteLastSyncEvents","credentials":{"googleCalendarOAuth2Api":{"id":"Cik7lSBVShqOgQxQ","name":"lukemoffat@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[656,0],"id":"648c3dd5-e5f6-4e5f-a778-791fa78e7e0e","name":"Wait","webhookId":"081ae4f5-405a-44db-af75-52842b9fc5a7"},{"parameters":{"content":"## Version Control\n2025-10-21 18:48 LM - initial deploy on local instance\n","height":224,"width":844,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,496],"id":"62baed9a-a838-4f09-bfbe-0fb8e6b77dad","name":"Sticky Note3"},{"parameters":{"content":"# Sync Relevant Calendar Events Rach > Luke","height":80,"width":836,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,400],"id":"ee8c3199-0a15-40c7-9159-5e7d7661c50a","name":"Sticky Note"}],"connections":{"setupEvent":{"main":[[{"node":"createEvent-Luke","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Rach Events","type":"main","index":0},{"node":"Get Luke Events","type":"main","index":0}]]},"Filter":{"main":[[{"node":"setupEvent","type":"main","index":0}]]},"Get Rach Events":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Get Luke Events":{"main":[[{"node":"getSyncdEvents","type":"main","index":0}]]},"getSyncdEvents":{"main":[[{"node":"deleteLastSyncEvents","type":"main","index":0}]]},"deleteLastSyncEvents":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"workflow_name":"Sync Relevant Calendar Events Rach > Luke"}