workflow-backups/LM/Workflow_History_Daily_Backup.json
{"versionid":"e37b61f8-2b4f-4199-82f7-b43263fca0b9","workflowid":"a320jffax14BKpmm","createdat":"2025-11-01T11:50:24.478Z","updatedat":"2025-11-01T11:50:24.478Z","nodes":[{"parameters":{"content":"## Version Control\n2025-11-01 22:01 LM - initial deploy\n2025-11-01 22:01 LM - adapted for multi-database local setup","height":300,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,384],"id":"ae529b4c-bde6-471a-8a98-8a4279184d59","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 */6 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,208],"id":"1a5c2087-ec87-482f-a813-ff4173ca44f1","name":"Daily - 7am"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS public.n8n_workflow_history_archive (\n  versionId TEXT PRIMARY KEY,\n  workflowId TEXT,\n  createdAt TIMESTAMPTZ,\n  updatedAt TIMESTAMPTZ,\n  nodes JSON,\n  connections JSON\n  -- Optionally add: name, owner, metadata, etc\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,208],"id":"baa2e324-cff6-48a0-b842-be47e55de680","name":"createWorkflowHistoryArchive","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.n8n_workflow_history_archive (\n  versionId, workflowId, createdAt, updatedAt, nodes, connections\n)\nSELECT \n  \"versionId\", \n  \"workflowId\", \n  \"createdAt\", \n  \"updatedAt\", \n  nodes, \n  connections\nFROM n8n.workflow_history\nON CONFLICT (versionId) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[928,0],"id":"d52a62e8-a119-487b-b315-f57555e53107","name":"Insert Workflow History to Archive","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  \"versionId\", \n  \"workflowId\", \n  \"createdAt\", \n  \"updatedAt\", \n  nodes, \n  connections\nFROM workflow_history\nORDER BY \"createdAt\" DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,208],"id":"2d1f54b1-0f8d-4050-9644-21aab98e87f8","name":"Read from n8n DB","credentials":{"postgres":{"id":"YVUO1Pvf91ur8Frz","name":"Postgres - n8n readonly"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"n8n_workflow_history_archive"},"columns":{"mappingMode":"defineBelow","value":{"nodes":"={{ $json.nodes }}","connections":"={{ $json.connections }}","versionid":"={{ $json.versionId }}","workflowid":"={{ $json.workflowId }}","createdat":"={{ $json.createdAt }}","updatedat":"={{ $json.updatedAt }}"},"matchingColumns":[],"schema":[{"id":"versionid","displayName":"versionid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"workflowid","displayName":"workflowid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"createdat","displayName":"createdat","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"updatedat","displayName":"updatedat","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"nodes","displayName":"nodes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"connections","displayName":"connections","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"skipOnConflict":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[928,208],"id":"bad8d7d7-9b4e-46be-a8e9-4a8a94cc1d96","name":"Insert into Archive","credentials":{"postgres":{"id":"g17YnMWQWdvNOGyX","name":"Postgres - postgres_fullaccess"}}}],"connections":{"Daily - 7am":{"main":[[{"node":"createWorkflowHistoryArchive","type":"main","index":0}]]},"createWorkflowHistoryArchive":{"main":[[{"node":"Read from n8n DB","type":"main","index":0}]]},"Read from n8n DB":{"main":[[{"node":"Insert into Archive","type":"main","index":0}]]}},"workflow_name":"Workflow History Daily Backup"}