workflow-backups/LM/Workflow_Backup_to_Github.json
{
  "versionid": "8f44f81d-f0fd-420a-9f4d-9aecdd595f26",
  "workflowid": "5Pr5KzYB3atpXtER",
  "createdat": "2025-11-01T12:50:08.611Z",
  "updatedat": "2025-11-01T12:50:08.611Z",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS public.n8n_workflow_backups (\n  version_id TEXT PRIMARY KEY,\n  workflow_id TEXT NOT NULL,\n  workflow_name TEXT,\n  created_at TIMESTAMP NOT NULL,\n  committed_at TIMESTAMP DEFAULT now(),\n  git_commit TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        64
      ],
      "id": "e865aabd-fb7c-4fc2-9bb0-8eb776372b69",
      "name": "createTable-n8n_workflow_backups",
      "credentials": {
        "postgres": {
          "id": "g17YnMWQWdvNOGyX",
          "name": "Postgres - postgres_fullaccess"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        368
      ],
      "id": "4b1b6522-6819-4bb9-a01c-6a0bc02440a4",
      "name": "currentItem"
    },
    {
      "parameters": {
        "content": "## Version Control\n2025-11-01 23:17 LM - adapted for two DB setup\n",
        "height": 480,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        688
      ],
      "id": "ce01591d-a970-4328-9b5f-0fde9653eb2b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/mof-f",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/Solved-Development-Labs/n8n-backups"
        },
        "filePath": "={{ $json.fullPath }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        64,
        368
      ],
      "id": "5de8ce4a-b901-4d08-b269-b4343334ee08",
      "name": "getSHA",
      "webhookId": "4fe835ed-a4c0-41d3-9aa6-c156fc8464e0",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "OqSdWSM3QVtddpjk",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const is404 = $json.error === \"The resource you are requesting could not be found\";\nreturn [{\n  json: {\n    sha: is404 ? null : $json.sha,\n    exists: !is404\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        368
      ],
      "id": "eed0a897-6407-4713-9304-cfd15d06f203",
      "name": "ifExistGetSHA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f478bed-55d9-4536-9ba2-cca124383a22",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        368
      ],
      "id": "302036c2-0d3f-41dd-b59d-64ae98d8e8fa",
      "name": "ifExists"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/mof-f",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/Solved-Development-Labs/n8n-backups"
        },
        "filePath": "={{ $('addFileOutputValues').item.json.fullPath }}",
        "fileContent": "={{ JSON.stringify($('addFileOutputValues').item.json.workflowJson) }}",
        "commitMessage": "={{ $('addFileOutputValues').item.json.commitMessage }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        464
      ],
      "id": "eaa156bd-0dad-4ca9-8ead-70c16d207aeb",
      "name": "GitHub-Commit-Create",
      "webhookId": "b43c5cc0-08f7-45a4-bae3-1d0665b1f160",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "githubApi": {
          "id": "OqSdWSM3QVtddpjk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/mof-f",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/Solved-Development-Labs/n8n-backups"
        },
        "filePath": "={{ $('addFileOutputValues').item.json.fullPath }}",
        "fileContent": "={{ JSON.stringify($('addFileOutputValues').item.json.workflowJson, null, 2) }}",
        "commitMessage": "={{ $('addFileOutputValues').item.json.commitMessage }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        256
      ],
      "id": "7d064861-405b-4d2f-a883-933148277aa9",
      "name": "GitHub-Commit-Update",
      "webhookId": "b43c5cc0-08f7-45a4-bae3-1d0665b1f160",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "githubApi": {
          "id": "OqSdWSM3QVtddpjk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.n8n_workflow_backups (\n  version_id,\n  workflow_id,\n  workflow_name,\n  created_at,\n  committed_at,\n  git_commit\n) VALUES (\n   $1, $2, $3, $4, $5, $6\n)\nON CONFLICT (version_id) DO UPDATE\n  SET committed_at = EXCLUDED.committed_at,\n      git_commit = EXCLUDED.git_commit;",
        "options": {
          "queryReplacement": "={{ $('addFileOutputValues').first().json.workflowJson.versionid }}\n{{ $('addFileOutputValues').first().json.workflowJson.workflowid }}\n{{ $('addFileOutputValues').first().json.workflowJson.workflow_name }}\n{{ $('addFileOutputValues').first().json.workflowJson.createdat }}\n{{ $json.commit.committer.date }}\n{{ $json.commit.sha }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        464
      ],
      "id": "17c336f5-0e18-46cf-94e3-b1bb507af337",
      "name": "Insert Into n8n_workflow_backups",
      "credentials": {
        "postgres": {
          "id": "g17YnMWQWdvNOGyX",
          "name": "Postgres - postgres_fullaccess"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_workflow_history_archive",
          "mode": "list",
          "cachedResultName": "n8n_workflow_history_archive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        272
      ],
      "id": "79e3da49-c34b-4712-9980-361b211a7687",
      "name": "Get from n8n_workflow_history_archive",
      "credentials": {
        "postgres": {
          "id": "g17YnMWQWdvNOGyX",
          "name": "Postgres - postgres_fullaccess"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// const pad = (n) => String(n).padStart(2, '0');\n\n// // Get data - handle invalid dates\n// let dt;\n// try {\n//   dt = new Date($json.createdAt);\n//   // Check if date is valid\n//   if (isNaN(dt.getTime())) {\n//     dt = new Date(); // Fallback to current date\n//   }\n// } catch (e) {\n//   dt = new Date(); // Fallback to current date\n// }\n\n// const safeName = ($json.workflow_name || 'unnamed').replace(/[^a-zA-Z0-9-_\\\\.]/g, '_');\n\n// // Timestamp for commit message only\n// const timestamp = `${dt.getFullYear()}-${pad(dt.getMonth() + 1)}-${pad(dt.getDate())}T${pad(dt.getHours())}:${pad(dt.getMinutes())}:${pad(dt.getSeconds())}`;\n\n// // Final file path\n// const filename = `${safeName}.json`;\n// const filePath = `workflow-backups/${filename}`;\n\n// // Output\n// return [{\n//   json: {         \n//     fileName: filename,            \n//     fullPath: filePath,            \n//     commitMessage: `Backup ${safeName} (created_at: ${timestamp})`,\n//     createdAt: dt.toISOString(),\n//     workflowJson: $json\n//   }\n// }];\n\n\nconst pad = (n) => String(n).padStart(2, '0');\n\n// Get data - handle invalid dates\nlet dt;\ntry {\n  dt = new Date($json.createdAt);\n  // Check if date is valid\n  if (isNaN(dt.getTime())) {\n    dt = new Date(); // Fallback to current date\n  }\n} catch (e) {\n  dt = new Date(); // Fallback to current date\n}\n\n// Get data\nconst clientCode = 'LM';\nconst safeName = ($json.workflow_name || 'unnamed').replace(/[^a-zA-Z0-9-_\\\\.]/g, '_');\n\n// Timestamp for commit message only\nconst timestamp = `${dt.getFullYear()}-${pad(dt.getMonth() + 1)}-${pad(dt.getDate())}T${pad(dt.getHours())}:${pad(dt.getMinutes())}:${pad(dt.getSeconds())}`;\n\n// Final file path\nconst filename = `${safeName}.json`;\nconst filePath = `workflow-backups/${clientCode}/${filename}`;\n\n// Output\nreturn [{\n  json: {         \n    fileName: filename,            \n    fullPath: filePath,            \n    commitMessage: `Backup ${safeName} (created_at: ${timestamp})`,\n    createdAt: dt.toISOString(),\n    workflowJson: $json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        368
      ],
      "id": "8ee08f02-dd4c-4b80-92cf-ce0473fba066",
      "name": "addFileOutputValues"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_workflow_backups",
          "mode": "list",
          "cachedResultName": "n8n_workflow_backups"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        480
      ],
      "id": "a75b3f35-52fd-43a8-ab66-8496cd63407e",
      "name": "Get n8n_workflow_backups",
      "credentials": {
        "postgres": {
          "id": "g17YnMWQWdvNOGyX",
          "name": "Postgres - postgres_fullaccess"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "versionid",
              "field2": "version_id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        368
      ],
      "id": "9ce673ea-c710-4386-ad80-19aa3a68c520",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        368
      ],
      "id": "c2cb3c38-328e-4b30-b98f-be0014fc8018",
      "name": "Trigger Payload"
    }
  ],
  "connections": {
    "createTable-n8n_workflow_backups": {
      "main": [
        []
      ]
    },
    "currentItem": {
      "main": [
        [],
        [
          {
            "node": "addFileOutputValues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getSHA": {
      "main": [
        [
          {
            "node": "ifExistGetSHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ifExistGetSHA": {
      "main": [
        [
          {
            "node": "ifExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ifExists": {
      "main": [
        [
          {
            "node": "GitHub-Commit-Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub-Commit-Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub-Commit-Create": {
      "main": [
        [
          {
            "node": "Insert Into n8n_workflow_backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub-Commit-Update": {
      "main": [
        [
          {
            "node": "Insert Into n8n_workflow_backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into n8n_workflow_backups": {
      "main": [
        [
          {
            "node": "currentItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get from n8n_workflow_history_archive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addFileOutputValues": {
      "main": [
        [
          {
            "node": "getSHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get n8n_workflow_backups": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "currentItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Payload": {
      "main": [
        [
          {
            "node": "Get from n8n_workflow_history_archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get n8n_workflow_backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_name": "Workflow Backup to Github"
}